@font-face {
  font-family: "iconfont"; /* Project id 2697570 */
  src: url('iconfont.woff2?t=1628674870671') format('woff2'),
       url('iconfont.woff?t=1628674870671') format('woff'),
       url('iconfont.ttf?t=1628674870671') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-share:before {
  content: "\e636";
}

.icon-pinglun1:before {
  content: "\e61d";
}

.icon-dianzan:before {
  content: "\e601";
}

.icon-guanzhu:before {
  content: "\e637";
}

.icon-pinglun:before {
  content: "\f4bb";
}

.icon-shoucang:before {
  content: "\e612";
}

.icon-Cloudupload-Filled:before {
  content: "\e6bd";
}

.icon-zhibo:before {
  content: "\e616";
}

.icon-zhibo1:before {
  content: "\e62a";
}

.icon-shangchuan4:before {
  content: "\e6a4";
}

.icon-tongxin:before {
  content: "\e605";
}

.icon-tongxin1:before {
  content: "\e6ac";
}

.icon-zhihuitongxin:before {
  content: "\e64c";
}

.icon-tongxin-:before {
  content: "\ec91";
}

.icon-tongxin-1:before {
  content: "\eca0";
}

.icon-tongxin-2:before {
  content: "\ecb9";
}

.icon-x:before {
  content: "\e61a";
}

.icon-tongxin2:before {
  content: "\e692";
}

.icon-Home:before {
  content: "\e626";
}

.icon-image:before {
  content: "\e629";
}

.icon-zhukongtongxin:before {
  content: "\e79b";
}

.icon-zhukongtongxin1:before {
  content: "\e89e";
}

.icon-Home1:before {
  content: "\e678";
}

.icon-icon-user:before {
  content: "\e677";
}

.icon-iconfind:before {
  content: "\e631";
}

.icon-fujinrenyuanfenbu:before {
  content: "\e6f4";
}

.icon-yonghu1:before {
  content: "\e603";
}

.icon-16:before {
  content: "\e615";
}

.icon-shangchuan:before {
  content: "\e640";
}

.icon-xiaoxi:before {
  content: "\e621";
}

.icon-video:before {
  content: "\e634";
}

.icon-chazhao:before {
  content: "\e604";
}

.icon-tupian:before {
  content: "\e607";
}

.icon-biyan:before {
  content: "\e819";
}

.icon-chakanyan:before {
  content: "\e630";
}

.icon-mima:before {
  content: "\e608";
}

.icon-yonghu:before {
  content: "\e62e";
}

